div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 10px;
  div {
    border: 1px solid black;
    width: 150px;
    padding: 1rem;
    img {
      width: 150px;
      height: 150px;
    }
    h2{
        font-size: 25px;
    }
  }
}
